body {background-color:aliceblue;}

.aboutus{
    font-size: 18px;
    
}

.face .backed{
    visibility: visible;
}
.solve{
    visibility: hidden;
}

.picture{
    max-width:100%;
}
.count{
    height: 10%;
    width: 50%;
    padding-top:5%;
    padding-bottom:5%;
    margin-left: 0;
    }
.fl{
    float: left;
}
.fr{
    float:right;
    
}
.deck{
    background-color: pink;
}
.g_row{
  display: flex;
  margin:0 5%;
}
.ok{
    background-color: green;
   }
.ko{
    background-color: red;
   }
.js_class_ko{
    border-color: red;
}
.js_class_ok{
    border-color: green;
}
.js_text_ok{
    color: green;
}
.js_text_ko{
    color: red;
}


	  
